/* styling for the body */
body {
    font-family: Arial, sans-serif;
    background-image: url("../images/coding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  /* Container styling */
  .container {
    background: #dfcccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
  }
  
  /* Styles for the quiz title */
  h1 {
    margin-bottom: 20px;
    text-align: center;
    color:  #0056b3;
  }
  
  /* Styles for the question block */
  .question {
    margin-bottom: 30px;
  }
  
  /* Styles for each question's text */
  .question h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  /* Styles for each question's options */
  .options {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for individual options */
  .options li {
    margin: 5px 0;
  }
  
  /* Button styling */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 250px;

  }
  
  /* Button hover effect */
  button:hover {
    background-color: #0056b3;
    text-align: center;
  }
  
  /* Hidden class for elements that should be hidden */
  .hidden {
    display: none;
  }
  
  /* Result styling */
  #results {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  /* comment styling */
  #comment{
    color:#0056b3;
    font-size: 46px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  

@media(max-width: 425px) {
    button{
        margin-left: 80px;
    }
}